[submodule "Npgsql"]
	path = Npgsql
	url = https://github.com/npgsql/npgsql.git
[submodule "Npgsql.EntityFrameworkCore.PostgreSQL"]
	path = Npgsql.EntityFrameworkCore.PostgreSQL
	url = https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL.git
[submodule "EntityFramework6.Npgsql"]
	path = EntityFramework6.Npgsql
	url = https://github.com/npgsql/EntityFramework6.Npgsql.git
[submodule "npgsql.github.io"]
	path = _site
	url = git@github.com:npgsql/npgsql.github.io.git
