---
layout: default
---
<div id="main" class="twelve columns">

  <div id="npgsql-about">
    <h2>About Npgsql</h2>
      Npgsql is the .NET data provider for PostgreSQL.
      It allows any program developed for .NET framework to access a PostgreSQL database server.
      It is implemented in 100% C# code. PostgreSQL versions since 9.0 are officially supported, others may work.
      <a href="about.html">Read more...</a>
  </div>

  <h2>Latest News</h2>
  <ul class="entry-list">
    {% for post in site.posts limit:5 %}  
    <li>
      <article class="entry">

        <header class="entry-header">
          <h3 class="entry-title">{{ post.title }}</h3>
          <div class="entry-meta">
     <ul>
              <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></li>
{% comment %}
              <span class="meta-sep">&bull;</span>								
              <li><a href="#" title="" rel="category tag">Ghost</a></li>
{% endcomment %}
              <span class="meta-sep">&bull;</span>
              <li>
                {% if site.data.members contains post.author %}
                  {{ site.data.members[post.author] }}
                {% else %}
                  {{ post.author }}
                {% endif %}
              </li>
            </ul>
          </div> 
        </header> 
					
        <div class="entry-content">
          {{ post.content }}
        </div> 

      </article>
    </li>
    {% endfor %}

  </ul>

  <a href="news.html">Click here for older announcements</a>

</div> <!-- #main -->
