name: Build Documentation

on:
  push:
    branches: [main]

  pull_request:

  # Used to trigger the flow from Npgsql/EFCore.PG via HTTP POST
  repository_dispatch:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Use Node.js
      uses: actions/setup-node@v6.0.0
      with:
        node-version: 20.x

    - name: Run Markdownlint
      run: |
        echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
        npm i -g markdownlint-cli
        markdownlint "conceptual/**/*.md"

    # Setup software
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 10.0.x

    - name: Checkout Npgsql
      uses: actions/checkout@v6
      with:
        repository: npgsql/npgsql
        ref: docs
        path: Npgsql

    # docfx has issues specifically with analyzer/sourcegen projects; build manually before.
    - name: Build Npgsql
      run: dotnet build -c Release
      shell: bash
      working-directory: Npgsql

    - name: Checkout EFCore.PG
      uses: actions/checkout@v6
      with:
        repository: npgsql/Npgsql.EntityFrameworkCore.PostgreSQL
        ref: docs
        path: EFCore.PG

    - name: Build EFCore.PG
      run: dotnet build -c Release
      shell: bash
      working-directory: EFCore.PG

    - name: Get docfx
      run: dotnet tool install --version 2.78.4 -g docfx

    - name: Build docs
      run: docfx --warningsAsErrors

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: _site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_name == 'main'
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
